---
import Skeleton from "../../layouts/Skeleton.astro";

import PubTime from "../../components/PubTime.astro";
import { Debug } from "astro:components";
import Button from "../../components/Button.astro";

export async function getStaticPaths() {
  const brews = (await Astro.glob("../../content/brews/*.mdx")) || [];

  return brews.map((brew) => {
    return {
      params: { slug: brew.frontmatter.slug },
      props: { brew },
    };
  });
}

const { brew } = Astro.props;
const { Content } = Astro.props.brew;
// For ld+json
let title = brew.frontmatter.title;
---

<Skeleton title={brew.frontmatter.title} description={brew.frontmatter.summary}>
  <section class="p-4 prose prose-amber-950 mx-auto">
    <article class="mb-16">
      <PubTime date={brew.frontmatter.published} />
      <h1 class="font-serif">{brew.frontmatter.title}</h1>
      <Content />
    </article>
    <div class="">
      <Button text="Læs flere opskrifter" url="/opskrifter" />
    </div>
  </section>

  <script type="application/ld+json" define:vars={{title}}>
    {
      "@context": "https://schema.org",
      "@type": "Blog",
      "@id": "https://detjegbrygger.dk/opskrifter",
      "mainEntryOfPage": "https://detjegbrygger.dk/opskrifter",
      "name": `${title}`,
      "description": "",
      "publisher": {},
      "blogPost": []
    }
  </script>
</Skeleton>
