---
/* @index.astro */

/*
 TODO:
 - Latest brew
 - Popular hops
 - Popular style
*/

import { Debug } from "astro:components";
import Skeleton from "../layouts/Skeleton.astro";
import BeerStyles from "../components/BeerStyles.astro";
import BrewCard from "../components/BrewCard.astro";
let brews = (await Astro.glob("../content/brews/*.mdx")) || [];
// Brew count
let countBrews = brews.length;
brews.sort(
  (a, b) =>
    Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published),
);

let topBrew = brews[0];
brews = brews.slice(1, 4);
// Theme Image
import img from "../assets/images/beer_in_glass.jpg";
---

<Skeleton title="Det jeg brygger" description="" themeImage={img}>
  <section class="p-4 mx-auto prose prose-amber-950 mx-auto">
    <BrewCard brew={topBrew} image={false} />
  </section>

  <!-- List of beer styles //-->
  <div class="p-4 max-w-prose mx-auto">
    <h2 class="font-serif font-extrabold mb-4 text-xl">Øltyper</h2>
    <BeerStyles count={5} />
  </div>
  <section class="p-4 mx-auto prose prose-amber-950">
    {brews.map((brew) => <BrewCard brew={brew} image={true} />)}
  </section>

  <div
    class="flex flex-row gap-3 bg-amber-200 rounded-full max-w-fit pl-4 mx-auto"
  >
    <strong class=""><a href="/opskrifter">Læs flere opskrifter</a></strong>
    <span class="w-8 h-8 bg-amber-600 rounded-full">
      <span class="material-symbols-outlined text-amber-50 mt-1 ml-1">
        chevron_right
      </span>
    </span>
  </div>
</Skeleton>
