---
/* @index.astro */

/*
 TODO:
 - Latest brew
 - Popular hops
 - Popular style
*/

import {Debug} from 'astro:components';
import Skeleton from "../layouts/Skeleton.astro";
import PubTime from "../components/PubTime.astro";
let brews = (await Astro.glob("../content/brews/*.mdx")) || [];
// Brew count
let countBrews = brews.length;
brews.sort((a, b) => Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published));

let topBrew = brews[0];
brews = brews.slice(1);

---

<Skeleton title="Det jeg brygger"> 
<section>
	<div class="bg-[url('/assets/images/beer_glasses.jpg')] grid min-h-64 place-content-center">
		<article class="bg-[#364037] p-6 font-serif text-white">
			<header class="font-extrabold">
				<h2 class="text-xl">Seneste opskrift</h2>
				<h1 class="text-4xl">
              <a href={`/bryg/${topBrew.frontmatter.slug}`}>
				{topBrew.frontmatter.title}</a></h1>
			</header>
            <PubTime date={topBrew.frontmatter.published} />
			<p class="font-sans">{topBrew.frontmatter.summary}</p>
		</article>
	</div>
</section>
	<section>
	<div class="grid grid-cols-3 gap-4 place-content-center">
		<div class="">+200 bryg</div>
		<div class="">{countBrews} opskrifter</div>
		<div class="">Humler</div>
		<div class="">Øltyper</div>
	</div>
	</section>
	<section>
		<div class="grid grid-cols-2 gap-4">
		{
			brews.map((brew) => (
				<div class="">
					{brew.frontmatter.published}
				</div>
			))
		}
		</div>
	</section>
</Skeleton>
