---
import Skeleton from "../../layouts/Skeleton.astro";
import HopCharacteristics from "../../components/HopCharacteristics.astro";

import HopSubstitute from "../../components/HopSubstitute.astro";
import LatestBrews from "../../components/LatestBrews.astro";

export async function getStaticPaths() {
  const response = await fetch("https://hopstr.vercel.app/api/hops");
  const hops = await response.json();

  return hops.hoplist.map((hop) => {
    return {
      params: { slug: hop.slug },
      props: { hop },
    };
  });
}

const { hop } = Astro.props;

const filtered = [
  "Country",
  "Alpha Acid Composition",
  "Characteristics",
  "Purpose",
  "Total Oil Composition",
  "Beta Acid Composition",
  "Co-Humulone Composition",
];
const ch = hop.characteristics?.filter((c) => filtered.includes(c.name)) || [];

// Find style guide
const style = ["Style Guide"];
const sg = hop.characteristics?.filter((c) => style.includes(c.name)) || [];
const sub = hop.characteristics?.find((c) => c.name === "Substitutes") || [];
---

<Skeleton title=`${hop.name} humle`>
  <div class="">
    <article class="">
      <header>
        <h1 class="font-serif">{hop.name}</h1>
      </header>
      <article class="mb-8">
        <h2 class="text-2xl font-sans font-semibold my-4">Beskrivelse</h2>
        <p>{hop.description ? hop.description : ""}</p>
      </article>
      <article class="mb-8 flex flex-row">
        {
          ch.map((c) => (
            <>
              <div class="basis-1/2">{c.name}</div>
              <div class="basis-1/2">{c.value}</div>
            </>
          ))
        }
      </article>
      <article>
        <HopSubstitute hops={sub} />
      </article>
    </article>
    <LatestBrews />
  </div>
</Skeleton>
