---
import Skeleton from "../../layouts/Skeleton.astro";
import LatestBrews from "../../components/LatestBrews.astro";

export async function getStaticPaths() {
  const styles = (await Astro.glob("../../content/style-guide/*.mdx")) || [];

  return styles.map((style) => {
    return {
      params: { slug: style.frontmatter.slug },
      props: { style },
    };
  });
}
// Theme image
import img from "../../assets/images/glass_with_beer.jpg";

const { style } = Astro.props;
const { Content } = Astro.props.style;
// Create meta desc
let desc = `Læs mere om ${style.frontmatter.title}`;
---

<Skeleton title={style.frontmatter.title} description={desc} themeImage={img}>
  <section class="p-4 prose prose-amber-950 mx-auto">
    <article class="prose prose-slate">
      <h1 class="font-serif">{style.frontmatter.title}</h1>
      <Content />
    </article>
  </section>
  <div class="p-4 h-40 max-w-prose">
    <h2 class="font-serif font-extrabold mb-4 text-xl">Seneste opskrifter</h2>
    <LatestBrews />
  </div>
</Skeleton>
