---
import "../styles/base.css";
// Components
import Navigation from "../components/Navigation.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

const { title, description, themeImage } =
  Astro.props.frontmatter || Astro.props;

// Image for footer
import { Image } from "astro:assets";

import ti from "../assets/images/beer_in_glass.jpg";

let img = themeImage ? themeImage : ti;
---

<!doctype html>
<html lang="da" class="h-dvh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{title}</title>
    <meta property="description" name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=chevron_right"
    />
    <meta property="og:site_name" content="Det jeg brygger" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
  </head>
  <body class="md:flex md:flex-row bg-amber-50 text-amber-950 min-h-full">
    <main class="md:basis-1/2 mx-auto min-h-full mb-16">
      <slot />
    </main>
    <footer class="md:basis-1/2 bg-amber-400 min-h-full">
      <section class="p-4 flex flex-col h-full">
        <header class="flex-none">
          <h1 class="font-serif font-extrabold text-2xl text-amber-950">
            Det jeg brygger
          </h1>
        </header>
        <nav>
          <ul>
            <li class="py-2 md:py-1"><a href="/">Forside</a></li>
            <li class="py-2 md:py-1">
              <a href="/opskrifter">Øl opskrifter</a>
            </li>
            <li class="py-2 md:py-1"><a href="/oeltyper">Øltyper</a></li>
            <li class="py-2 md:py-1">
              <a href="/alt-det-andet">Alt det andet</a>
            </li>
            <li class="py-2 md:py-1">
              <a href="/alt-det-andet/006-om-det-jeg-brygger">Om mig</a>
            </li>
          </ul>
        </nav>
        <figure class="flex flex-row justify-center items-start h-full mt-20">
          <Image src={img} alt="Skål!" class="rounded-full max-w-64 max-h-64" />
        </figure>
      </section>
    </footer>
  </body>
</html>
